<div
  class="space-search"
  role="search"
  aria-label="Ricerca degli spazi"
>
  <div class="space-search__field">
    <ion-icon
      name="search-outline"
      aria-hidden="true"
    ></ion-icon>

    <input
      class="space-search__input"
      type="search"
      name="spaceSearch"
      [placeholder]="placeholder"
      [attr.aria-label]="placeholder"
      autocomplete="off"
    />
  </div>

  @if (showFilterButton) {
    <button
      class="space-search__filter-button"
      type="button"
    >
      Filtri
    </button>
  }
</div>