 <header class="topbar">
    <div class="topbar__brand">
      <span class="topbar__logo">
        <ion-icon name="calendar-clear-outline"></ion-icon>
      </span>

      <span class="topbar__bran-name">
        SlotLab
      </span>
    </div>

    <nav class="topbar__navigation" aria-label="Navigazione principale">
      <button class="topbar__link topbar__link--active" type="button">
        Home
      </button>

      <button class="topbar__link" type="button">
        Spazi
      </button>

      <button class="topbar__link" type="button">
        Prenotazioni
      </button>

    </nav>

    <div class="topbar__user">
      <button
      class = "topbar__notification"
      type="button"
      aria-label="Apri le notifiche"
      >

      <ion-icon name="notifications-outline"></ion-icon>

      </button>

      <span class="topbar__avatar">FG</span>
      <span class ="topbar_username">Francesco</span>

    </div>

  </header>